<!-- HEADER START -->
<header>
  <a routerLink="/home" class="logo">
    <img src="/assets/images/logo.png" alt="">
  </a>

  <!-- TODO: Add category dropdown -->
  <app-product-category-menu></app-product-category-menu>
  <div class="nav-icon">
    <a (click)="showSearchBar()"><i class='bx bx-search'></i></a>
    <a href="#"><i class='bx bxs-user' ></i></a>
    <a href="#"><i class='bx bx-cart'></i></a>
    <div class="bx bx-menu bx-sm" id="menu-icon"></div>
  </div>
</header>

<div class="header-search" [ngClass]="showSearch == true ? 'show' : 'hidden'">
  <app-search></app-search>
  <a (click)="hideSearchBar()"><i class='bx bx-x'></i></a>
</div>
<!-- HEADER END -->

<!-- PRODUCTS START -->
<section class="trending-product" id="trending">
  <router-outlet></router-outlet>
</section>
<!-- PRODUCTS END -->

<!-- CONTACT START -->
<section class="contact">
  <div class="contact-info">
    <img src="/assets/images/logo.png" width="90" height="auto">
    <div class="first-infos">
      <h4>Contact</h4>
      <p>Your Address In Here!</p>
      <p>00.000.000/0001-00</p>
      <p>mathffreitas@hotmail.com</p>
      <div class="social-icon">
        <a href="#"> <i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
    <div class="second-info">
      <h4>Support</h4>
      <p>Contact us</p>
      <p>Privacy</p>
    </div>
  </div>
</section>
<!-- CONTACT END -->

<!-- FOOTER START -->
<footer>
  <p>Copyright © @2022. Developed by: Matheus Freitas.</p>
</footer>
<!-- FOOTER END -->
