
<div class="products">
  <div class="center-text">
    <h2>Our Trending <span>{{ (currentCategoryName == "") ? "Products" : currentCategoryName }}</span></h2>
  </div>
  <div class="row">

    <!-- CARD START -->
    <div class="card" *ngFor="let tempProduct of products">
      <a routerLink="/products/{{ tempProduct.id }}">
        <img src="{{ tempProduct.imageUrl }}">
      </a>
      <div class="product-text">
        <h5>Sale</h5>
      </div>
      <div class="feedback">
        <div class="ratting">
          <i class='bx bx-star' ></i>
          <i class='bx bx-star' ></i>
          <i class='bx bx-star' ></i>
          <i class='bx bx-star' ></i>
          <i class='bx bx-star' ></i>
        </div>
        <div class="heart-icon">
          <i class='bx bx-heart' ></i>
        </div>
      </div>
      <div class="price">
        <a routerLink="/products/{{ tempProduct.id }}" class="product-name-link">
          <h4>{{ tempProduct.name }}</h4>
        </a>
        <p>{{ tempProduct.unitPrice | currency: 'BRL' }}</p>
      </div>
      <button>Add to Cart</button>
    </div>
    <!-- CARD END -->

    <!-- if products empty then display a message -->
    <div *ngIf="products?.length == 0" class="alert alert-primary col-md-12" role="alert">
      No products found.
    </div>
  </div>
  <ngb-pagination style="margin-top: 80px;" [collectionSize]="theTotalElements" [(page)]="thePageNumber" [pageSize]="thePageSize" (pageChange)="listProducts()" [maxSize]="5"></ngb-pagination>
</div>
