$default-font-color: #505456;
$default-font-color-hover: #3762e4;
$background: #f6f6f6;

.product-name-link {
  text-decoration: none;
  color: $default-font-color;
  transition: all .60s ease;
}

.product-name-link:hover {
  text-decoration: underline;
}

.products {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-text h2{
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 80px;
  margin-top: 80px;
}

.center-text span {
  color: $default-font-color-hover;
}

.row {
  max-width: 1300px;
  gap: 50px;
  display: flex;
  justify-content: center;
}

// CARD START
.card {
  border: none !important;;
  height: 450px;
  width: 300px;
  background-color: $background;
}

.card img {
  width: 280px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all .40s;
}

.card img:hover {
  transform: scale(0.9);
}

.card h5 {
  position: absolute;
  top: 19px;
  left: 27px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: $default-font-color-hover;
  padding: 4px 9px;
  border-radius: 3px;
}

.feedback {
  display: flex;
  justify-content: space-between;
}

.feedback .heart-icon {
  cursor: pointer;
  font-size: 19px;
  margin-left: 20px;
}

.feedback .heart-icon:hover {
  color: #e63054;
}

.price h4 {
  text-transform: capitalize;
  font-size: 19px;
  font-weight: 400;
  height: 60px;
}

.price p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}
button {
  display: inline;
  color: $default-font-color-hover;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 10px 20px;
  border: 2px solid $default-font-color-hover;
  transition: all .20s ease;
}

button:hover {
  color: white;
  background-color: $default-font-color-hover;
}

// CARD END
