 <!-- CART MODAL START -->
 <ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cart</h4>
    <h6 class="modal-subtitle">Total Quantity: {{ totalQuantity }}</h6>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <ul class="itens-cart">

      <!-- ITEM CART START -->

      <div *ngIf="cartItems?.length == 0" class="alert alert-primary" role="alert">
        Shopping cart empty.
      </div>

      <li class="item-cart" *ngFor="let tempCartItem of cartItems">
        <div class="cart-item-image">
          <img src="{{ tempCartItem.imageUrl }}" alt="item-img">
        </div>
        <div class="item-cart-info">
          <h5>{{ tempCartItem.name }}</h5>
          <!-- TODO: Add or remove un. -->
          <p>{{ tempCartItem.unitPrice | currency: 'BRL' }}</p>
        </div>
        <div class="total-item-cart-price">
          <p>Quantity:</p>
          <div class="row no-gutters">
            <div class="quantity-col">
              <button (click)="incrementQuantity(tempCartItem)" class="btn btn-success btn-sm plus">
                <i class="bx bx-plus"></i>
              </button>
              <p>{{ tempCartItem.quantity }}</p>
              <button (click)="decrementQuantity(tempCartItem)" class="btn btn-warning btn-sm minus">
                <i class="bx bx-minus"></i>
              </button>
            </div>
          </div>
          <p>Subtotal: {{ tempCartItem.quantity * tempCartItem.unitPrice | currency: 'BRL' }}</p>
          <button (click)="remove(tempCartItem)" class="btn btn-danger btn-sm remove"><i class="bx bx-trash"></i></button>
        </div>
      </li>
      <!-- ITEM CART END -->

    </ul>
  </div>
  <div class="modal-footer">
    <div *ngIf="cartItems?.length > 0" class="total-info">
      <p class="show-total">Total: {{ totalPrice | currency: 'BRL' }}</p>
      <p id="discount">Discount: 0.00%</p>
      <p id="shipping">Shipping: FREE</p>
      <!-- TODO: Add the discount if is not equal  -->
      <h6 id="total-price">Total: {{ totalPrice | currency: 'BRL' }}</h6>
    </div>
    <div class="buttons">
      <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Keep shopping</button>
      <button type="button" class="btn btn-outline-success">Checkout</button>
    </div>
  </div>
</ng-template>
<!-- CART MODAL END -->
<div class="cart-content">
  <a (click)="openScrollableContent(longContent)">
    <i class='bx bx-cart'>
    <div class="count-itens-number" [ngClass]="totalQuantity > 0 ? 'show' : 'hidden'">
    </div>
    </i>
  </a>
  <div class="dropdown-hover">
    <span>{{ totalPrice | currency: 'BRL' }}</span>|<span> {{ totalQuantity }}</span>
  </div>
</div>



